/* Estilos footer */

footer{
    @include flex (row, space-between, center, 1rem)
    align-content: center;
    background: linear-gradient(to top, #304352, #d7d2cc);
    opacity: 0.8; 
     
}
.titulos__redes{
    color: map-get($colors, primary); 
}

.redes{
    align-items: center;
} 

.redes__img{
    width: 50px;
}
