/* Estilos footer */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: linear-gradient(to top, #304352, #d7d2cc);
    opacity: 0.8;   
}

.redes{
    align-items: center;
} 

.redes__img{
    width: 50px;
}
