/* Estilos footer */

footer{
    @include flex (row, space-between, center, 1rem);
    align-content: center;
    background: linear-gradient(to top, #304352, #d7d2cc);
    opacity: 0.8; 
     
}
.titulos__redes{
    color: map-get($colors, primary); 
}

.redes{
    align-items: center;
    &__img{
        width: 50px;
        margin: 1rem;
        transition: all .3s linear;
    }
    &__img:hover{
        transform: scale(1.2, 1.2);
    }
} 




