/* Estilos header */

header{
    @include flex (row, space-between, center, 1rem)
    background: linear-gradient(to bottom, #304352, #d7d2cc); 
    opacity: 0.8;
    font-size: $text-small;   
}
    
    
header picture img{
    height: 100px;
} 



nav ul{
    @include flex (row, space-between, center, 1rem)
}

nav ul li a:hover{
    background-color: map-get($colors, secondary);
    color: map-get($colors, primary);
}

nav ul li a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: $text-small;
    color: map-get($colors, secondary);
    padding: 1rem 2rem;
    text-decoration-line: none; 
    transition: all .3s ease-in-out;  
}

ul{
    list-style-type: none;
}

.btn{
    font-family: 'Josefin Sans', sans-serif;
    font-size: $text-xsmall;
    color: map-get($colors, primary);
}

.btn{
    @extend .button;
}

.form-control{
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7em;
    color: map-get($colors, primary);
}






