/* Estilos header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, #304352, #d7d2cc); 
    opacity: 0.8; 
    align-items: center; 
    font-size: $text-small; 
}

header picture img{
    height: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li a:hover{
    background-color: $secondary;
    color: $primary;
}

nav ul li a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: $text-small;
    color: $secondary;
    padding: 1rem 2rem;
    text-decoration-line: none; 
    transition: all .3s ease-in-out;  
}

ul{
    list-style-type: none;
}

.btn{
    font-family: 'Josefin Sans', sans-serif;
    font-size: $text-xsmall;
    color: $primary;
}

.form-control{
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7em;
    color: $primary;
}






