/* Estilos generales */

/* Ribon */

#ribbon{
    background: linear-gradient(to bottom, #304352, #d7d2cc);   
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#separador{
    background-color: map-get($colors, opcional);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

#separador img{
    position: relative;
    margin-top: -30px;
}

/* Cards*/ 

.card_border{
    border: solid 3px map-get($colors, secondary);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-in-out .2s;
}

.card_border:hover{
    transform: scale(1.05);
}

.card-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: $text-small;
    color: map-get($colors, primary);
    font-weight: bold;
}

.card-text{
    padding: $Spacing-xsmall;
    margin: $spacing-medium;
    text-align: justify;
    color: map-get($colors, primary);
    font-size: $text-xsmall;
    font-family: 'Josefin Sans', sans-serif;
} 

.col-sm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_border{
    flex-grow: 1;
}

/* Button*/

.button{
    background-color: map-get($colors, alternative);
    border: solid white 2px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0.5rem;
    color: map-get($colors, primary);
    padding: $Spacing-xsmall; 
    transition: all .3s linear;   
}

.button:hover{
    transform: scale(1.2, 1.2);
}

/* Video destacado */

.destacado{
    margin-bottom: $spacing-medium;
}  

.form__continer{
    padding: 1rem;
}
.form__button{
    background-color: map-get($colors, alternative);
    border: solid white 2px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0.5rem;
    color: map-get($colors, primary);
    padding: $Spacing-xsmall; 
}