/* ESTILOS MAIN*/

#ribbon{
    background: linear-gradient(to bottom, #304352, #d7d2cc);   
}

#ribon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#separador{
    background-color: $opcional;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

#separador img{
    position: relative;
    margin-top: -30px;
}

/* Cards*/ 

.card_border{
    border: solid 3px $secondary;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-in-out .2s;
    &__:hover{
        transform: scale(1.05);
    }
    &__title{
        font-family: 'Josefin Sans', sans-serif;
        font-size: $text-small;
        color: $primary;
        font-weight: bold;
    }
    &__text{
        padding: $Spacing-xsmall;
        margin: $spacing-medium;
        text-align: justify;
        color: $primary;
        font-size: $text-xsmall;
        font-family: 'Josefin Sans', sans-serif;
    }
}

/* Video destacado */

.destacado{
    margin-bottom: $spacing-medium;
}

/* Responsive */

@media screen and (max-width: 760px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .video{
        align-content: center;
        width: 320px;
        height: 180px;
    }

    .video{
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 480px){
    
    .redes{
        flex-direction: column;
        margin: 1rem;
        &__redes{
            display: none;   
        }
    }
}