/* Responsive */

@media screen and (max-width: 760px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .video{
        align-content: center;
        width: 320px;
        height: 180px;
    }

    .video{
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 480px){
    .titulos__redes{
        display: none;   
    }

    .redes{
        flex-direction: column;
        margin: 1rem;
    }
} 