/*  Variables */

/* Colors */
$colors: (
    primary: #0d090a,
    secondary: #daf7dc,
    alternative: #cc998d,
    opcional: #4D7C8A
);

@each $color, $value in $colors {
    #{$color} {
        color: #{$value}
    }
}

/* Spacing */ 

$spacing-medium: 4rem;
$spacing-small: 2.5rem;
$Spacing-xsmall: 1rem;

/* Font sizes*/

$text-large: 4.8em;
$text-medium: 3.5em;
$text-small: 2.4em;
$text-xsmall: 1.8em;
